-var modulo = 'Modo Rapido';
-var estilosCss = 'css/style_modorapido.css?v=1';
-var formato_archivos = '';


|<?php
|	include("../controller/mainscript.php");
|	//obtener listado de productores
|	$JSONproductores = json_encode($dataProductores,JSON_FORCE_OBJECT);
|
|	//obtener listado de entidades
|	$JSONentidad = json_encode("");
|	if($_SESSION['nivel']=='MUNICIPAL' || $_SESSION['nivel']=='ADMINISTRADOR'){
|		$entidadfinanciera = new Entidad();
|		$listentidad = $entidadfinanciera->buscar();
|		$JSONentidad = json_encode($listentidad,JSON_FORCE_OBJECT);
|	}
|
|?>
|
doctype

html.h-100(lang="es")
	head
		include ../includes/head_common.pug
		title Sepa
		link(rel="stylesheet" href=estilosCss)
		script.
			let jsonCiclos = JSON.parse(`<?php echo $totalCiclos; ?>`);
			//var listEstados = JSON.parse(`<?php //echo $obtener_estados; ?>`);
			var ssdata = JSON.parse(`<?php echo $session_data; ?>`);
			//console.log(ssdata.filtro);

	body.h-100
		#fondoDark
		.container-fluid.h-100
			
			include ../includes/header.pug
			.main-content.row.h-100
				.barra_lateral.col-12.col-md-auto
					nav
						//.leyenda
							a(href="./dashboard" + formato_archivos) Principal
							span  / 
							a(href="./operaciones" + formato_archivos) Operaciones
							span  / #{modulo}
						include ../includes/mnu_main.pug
				main#main.contenido.col.position-relative
					.row.m-0
						section#migasdepan.col-12
							.leyenda
								a(href="./dashboard" + formato_archivos) Principal
								//span  > 
								//a(href="./modorapido" + formato_archivos) Modo Rapido
								span 
									| > 
									b #{modulo}
						section.col-12.col-lg
							#container-fastmode.card
								.row.m-0.position-relative
									.col.p-0
										h3.flaticon-agricultor Modo de registro rapido
								.row.m-0.position-relative
									//registro de productores
									form#fFastmode.form-module(action="#" method="post" autocomplete="off")
										.row.m-0
											#paso1.pasos.col-12
												.row
													.col-12.p-1
														h4 Registrar productor
													.col-12.col-sm-3.p-1
														label CI/Rif * 
														input#crif.v-rif(type="text", name="ndoc" maxlength="10" placeholder='Ej. J321459658')
													.col-12.col-sm-5.p-1
														label Razón Social * 
														input#rsocial(type="text", name="rsocial"  maxlength="100")
													.col-12.col-sm-4.p-1
														label Telefono * 
														input#tlf(type="text", name="tlf"  maxlength="100")
													.col-12.col-sm-6.p-1
														label Correo electrónico * 
														input#correo(type="email", name="correo"  maxlength="" placeholder='juan@gmail.com')
													.col-12.col-sm-6.p-1
														label dirección de Pagina web
														input#pagina.no-valid(type="text", name="pagina"  maxlength="255" placeholder='www.ejemplo.org')
													.col-12.p-1
														label Dirección * 
														input#dfiscalproductor.large-control(type="text", name="dfiscalproductor" maxlength="255")
													.col-12.p-1
														p.large-control.m-0 Representante Legal
													.col-12.col-sm.p-1
														label Nombre y Apellido * 
														input#rlegal.large-control(type="text" name="rlegal" maxlength="50")
													.w-100.mb-2
													.col-auto.p-0
														input#btnCleanProductor.b-style-color1(type="button" value="Cancelar" onclick="cleanForm('#paso1')")
													.col-auto.pl-1
														input#btnRegProductor.b-style-color2(type="button" value="Siguiente" onclick="showpasos('#paso1','#paso2')")
											//registro de unidad de produccion
											#paso2.pasos.col-12.position-absolute
												.row
													.col-12.p-1
														h4 Registrar Unidad de producción
													//.col-12.p-1
														p.large-control Ficha Predial
													.col-12.col-sm-4.p-1.d-none
														//label Codigo de la ficha
														//input#codFichaPredial.no-valid(type="text" name="codfichapredial")
														input#codFichaPredial.no-valid(type="hidden" name="codfichapredial")
													.col-12.col-sm-8.p-1.d-none
														//label Adjuntar documento de ficha predial
														//.custom-file
															input#fileFichaPredial.custom-file-input.no-valid(type="file")
															label.custom-file-label(for="fileFichaPredial") Cargar Archivo
														input#fileFichaPredial.no-valid(type="file") 
													.col-12.col-sm-6.p-1
														label(for="nombre") Nombre de la Unidad de producción *
														input#nombre(type="text", name="nombre"  maxlength="100")
													.col-12.col-sm-3.p-1
														label(for="hatotal") Hectareas Totales *
														input#hatotal.number(type="text", name="haTotal" maxlength="8")
													.col-12.col-sm-3.p-1
														label(for="haproductivas") Hectareas Productivas *
														input#haproductivas.number(type="text", name="haProductivas" maxlength="8")
													.w-100
													.col-12.col-sm-4.p-1
														label(for="estado") Estado *
														select#estado.custom-select(name="estado")
															option(value) Seleccione una opción
															|<?php 
															|	$direccion = new Direccion();
															|	$data = $direccion->getEstados();
															|	$estado = $data["estado"];
															|	$desc = $data["descripcion"];
															|	$reg = $data["data"];
															|	foreach ($reg as $key => $value) {
															|		echo '<option value="'.$value['codigo'].'">'.$value["nombre"].'</option>';
															|	}?>
													.col-12.col-sm-4.p-1
														label(for="municipio") Municipio *
														select#municipio.custom-select(name="municipio")
															option(value) Seleccione una opción
													.col-12.col-sm-4.p-1
														label(for="parroquia") Parroquia *
														select#parroquia.custom-select(name="parroquia")
															option(value) Seleccione una opción
													.col-12.col-sm-4.p-1.autocomplete
														label(for="sector") Sector *
														input#sector(type="text" name="sector" data-twovalue='')
													.col-12.col-sm-8.p-1
														label(for="dfiscal") Dirección *
														input#dfiscalundprod.large-control(type="text", name="direccion" maxlength="255")
													//.col-12.col-sm-3.p-1
														label(for="tenencia") Tenencia *
														select#tenencia.custom-select(name="tenencia")
															option(value) Seleccione una opción
															|<?php /* 
															|	$sql='SELECT * from tenencia';
															|	$param=[];
															|	$resultQuery = Querys::QUERYBD($sql,$param);
															|	$state = $resultQuery["state"];
															|	if ($state){
															| 	$stmt = $resultQuery["stmt"];
															|		while ($f=$stmt->fetch()) {
															|			echo '<option value="'.$f['codtenencia'].'">'.$f['destenencia'].'</option>';
															|		}
															|	}
															|*/?>
													//.col-12.p-1
														p.large-control Coordenadas Principales
													//.col-12.col-sm-6.p-1
														label(for="latitud") Latitud *
														input#latitud.no-valid(type="text", name="latitud" maxlength="50")
													input#latitud.no-valid(type="hidden", name="latitud" maxlength="50")
													//.col-12.col-sm-6.p-1
														label(for="longitud") Longitud *
														input#longitud.no-valid(type="text", name="longitud" maxlength="50")
													input#longitud.no-valid(type="hidden", name="longitud" maxlength="50")
													.col-12.p-1.d-none
														input(type="hidden" name="estatus" value="1")
													.w-100.mb-2
													.col-auto.p-0
														input#btnCleanUndprod.b-style-color1(type="button" value="Cancelar" onclick="cleanForm('#paso2')")
													.col-auto.px-1
														input#btnBackProductor.b-style-color2(type="button" value="Anterior" onclick='hidepasos("#paso2")')
													.col-auto.p-0
														input#btnRegUP.b-style-color2(type="button" value="Siguiente" onclick="showpasos('#paso2','#paso3')")
											//registro de intencion
											#paso3.pasos.col-12.position-absolute.pasos-visible
												.row
													.col-12.p-1
														h4 Registro de Intención
													.group-select.col-12.col-sm.p-1
														label(for="rubros") Rubros *
														select#rubros.custom-select(name="rubros")
															option(value selected) Seleccione una opción
															|<?php 
															|	$sql='SELECT * from rubros';
															|	$param=[];
															|	$resultQuery = Querys::QUERYBD($sql,$param);
															|	$state = $resultQuery["state"];
															|	if ($state){
															| 	$stmt = $resultQuery["stmt"];
															|		while ($f=$stmt->fetch()) {
															|			echo '<option value="'.$f['codrubro'].'">'.$f['desrubro'].'</option>';
															|		}
															|	}
															|?>															
													.group-input.col-12.col-sm-3.p-1
														label(for="haintencion") Hectareas *
														input#haintencion.number(type="text", name="haintencion")
													.group-select.col-12.col-sm.p-1
														label(for='ndoctecnico') Tecnico de campo
														select#ndoctecnico.custom-select(name="doctecnico")
															|<?php
															|	$sql='SELECT * from tecnico';
															|	$param=[];
															|	$resultQuery = Querys::QUERYBD($sql,$param);
															|	$state = $resultQuery["state"];
															|	if ($state){
															| 	$stmt = $resultQuery["stmt"];
															|		while ($f=$stmt->fetch()) {
															|			echo '<option value="'.$f['cedtecnico'].'">'.$f["nomtecnico"].'</option>';
															|		}
															|	}
															|?>
													.w-100.mb-2
													.col-auto.p-0
														input#btnCleanIntencion.b-style-color1(type="button" value="Cancelar" onclick="cleanForm('#paso3')")
													.col-auto.px-1
														input#btnBackUNDprod.b-style-color2(type="button", value="Anterior" onclick='hidepasos("#paso3")')
													.col-auto.p-0
														button#btnAdd.b-style-color2.flaticon-anadir(type="button" onclick="addintencion()") Agregar
													.col-auto.p-0.ml-auto
														input#btnFinalizar.b-style-color3(type="submit", value="Finalizar registro")
												.row
													.col-12.p-1
														.table-responsive
															table#table-intencion.table.table-hover.table-striped
																thead
																	tr
																		th #
																		th Rubro
																		th.number Ha. intención
																		th Tecnico C.
																tbody
																	//tr
																		td
																			a.deleteItem.flaticon-cubo-de-desperdicios.hidden-nivel(href="javascript:void(0)" data-toggle="modal" data-target=".modal")
																		td Maíz Blanco
																		td 302.32
																		td Sin Asignar
	include ../includes/scripts.pug
	script(src="js/class.modorapido.js?v=1")
	script.
		var main = new Main();
		var dashboard = new Dashboard();
		dashboard.getCicle(jsonCiclos);

		let n = `<?php echo $_SESSION["nivel"]; ?>`;

		//id de elementos
		let ciclo = jsonCiclos.ciclo_actual;

		var fFastmode = js("#fFastmode");
		var nrif = js("#crif");
		var rsocial = js("#rsocial");
		var tlf = js("#tlf");
		var correo = js("#correo");
		var pagina = js("#pagina");
		var dfiscalproductor = js("#dfiscalproductor");
		var rlegal = js("#rlegal");
		var btnCleanProductor = js("#btnCleanProductor");
		var btnRegProductor = js("#btnRegProductor");
		var codFichaPredial = js("#codFichaPredial");
		var fileFichaPredial = js("#fileFichaPredial");
		var nombre = js("#nombre");
		var hatotal = js("#hatotal");
		var haproductivas = js("#haproductivas");
		var estado = js("#estado");
		var municipio = js("#municipio");
		var parroquia = js("#parroquia");
		var sector = js("#sector");
		var dfiscalundprod = js("#dfiscalundprod");
		var latitud = js("#latitud");
		var longitud = js("#longitud");
		var btnCleanUndprod = js("#btnCleanUndprod");
		var btnBackProductor = js("#btnBackProductor");
		var btnRegUP = js("#btnRegUP");
		var rubros = js("#rubros");
		var haintencion = js("#haintencion");
		var ndoctecnico = js("#ndoctecnico");
		var btnCleanIntencion = js("#btnCleanIntencion");
		var btnBackUNDprod = js("#btnBackUNDprod");
		var btnAddintencion = js("#btnAddintencion");

		aplicarMascara();

		var modorapido = new ModoRapido(
			fFastmode,
			crif,
			rsocial,
			tlf,
			correo,
			pagina,
			dfiscalproductor,
			rlegal,
			codFichaPredial,
			fileFichaPredial,
			nombre,
			hatotal,
			haproductivas,
			estado,
			municipio,
			parroquia,
			sector,
			dfiscalundprod,
			latitud,
			longitud,
			rubros,
			haintencion,
			ndoctecnico
		);

		function aplicarMascara(){
			IMask(nrif,{mask:EXPrifMask});
			IMask(tlf,{mask:'0000-0000000'});
			IMask(codFichaPredial,{mask:EXPnumber});
			IMask(hatotal,{mask:EXPnumberDecimal});
			IMask(haproductivas,{mask:EXPnumberDecimal});
			IMask(latitud,{mask:EXPnumberDecimal});
			IMask(longitud,{mask:EXPnumberDecimal});
			IMask(haintencion,{mask:EXPnumberDecimal});
		}

		//mostrar formulario siguiente y validar campos
		function showpasos(Thispaso,paso){
			let form = jsAll(`${Thispaso} input, ${Thispaso} select`);
			let valid = main.valid(form);
			if(valid[0]){
				js(`${paso}`).classList.add("pasos-visible");
			}else{
				swal("¡Error!", valid[2], "error",{
					button:{
					text: "Aceptar",
					closeModal:true,
					className:"errorSweetAlert"
				}}).then(function(){
					valid[1].focus();
				});
			}
		}

		//ocultar formulario actual
		function hidepasos(paso){
			js(paso).classList.remove("pasos-visible");
		}

		//limpiar campos
		function cleanForm(paso){
			let form = jsAll(`${paso} input[type='text'], ${paso} input[type='email'], ${paso} textarea, ${paso} select`);
			form.forEach(function(el){
				el.value = '';
			})
			aplicarMascara();
			form[0].focus();
		}

		function addintencion(){
			let form = jsAll(`#paso3 input, #paso3 select`);
			let valid = main.valid(form);
			if(valid[0]){
				modorapido.addIntencion();
			}else{
				swal("¡Error!", valid[2], "error",{
					button:{
					text: "Aceptar",
					closeModal:true,
					className:"errorSweetAlert"
				}}).then(function(){
					valid[1].focus();
				});
			}

		}

		//llenar select de municipio y parroquia//////////////////////////////
		estado.addEventListener("change",function(){
			main.getMunicipio(this.value,municipio,'');
			main.getParroquia(999999,parroquia,'');
			main.getSelectSector(999999,sector,'');
		});
		municipio.addEventListener("change",function(){
			main.getParroquia(this.value,parroquia,'');
			main.getSelectSector(999999,sector,'');
		});
		parroquia.addEventListener("change",function(){
			sector.value='';
			sector.dataset.twovalue = '';
			main.getSector(this.value,sector,'');
		});

		//guardar registro
		fFastmode.addEventListener("submit",function(e){
			e.preventDefault();
			modorapido.guardar();
		});


		/*var main = new Main();
		var dashboard = new Dashboard();
		dashboard.getCicle(jsonCiclos);

		let n = `<?php echo $_SESSION["nivel"]; ?>`;


		//id de elementos
		let ciclo = jsonCiclos.ciclo_actual;

		var lentidad = js("#form-listado-intencion #lentidad");
		var lproductor = js("#form-listado-intencion #lproductor");
		var lestado = js("#form-listado-intencion #lestado");
		var lmunicipio = js("#form-listado-intencion #lmunicipio");
		var lparroquia = js("#form-listado-intencion #lparroquia");
		var lsector = js("#form-listado-intencion #lsector");
		var lrubro = js("#form-listado-intencion #lrubro");

		var entidad = js("#fintencion #entidad");
		var productor = js("#fintencion #productor");
		var undproduccion = js("#fintencion #undproduccion");
		var rubros = js("#fintencion #rubros");
		var haintencion = js("#fintencion #haintencion");
		var ndoctecnico = js("#fintencion #ndoctecnico");

		var docentidad = '';

		IMask(haintencion,{mask:EXPnumberDecimal});

		let intencion = new IntencionSiembra(
		ciclo,
		lrubro,
		lestado,
		lmunicipio,
		lparroquia,
		lsector,
		lentidad,
		lproductor,
		entidad,
		productor,
		undproduccion,
		rubros,
		haintencion,
		ndoctecnico
		);

		intencion.validNivel();

		intencion.getLentidad(lestado.value, lmunicipio.value, lparroquia.value, lsector.value,lentidad,docentidad,function(){
			intencion.getProductor(lentidad.value,lproductor);
		});
		
		intencion.getIntencion();
		
		//llenar select de municipio y parroquia//////////////////////////////
		lestado.addEventListener("change",function(){
			main.getMunicipio(this.value,lmunicipio,'');
			main.getParroquia(999999,lparroquia,'');
			main.getSelectSector(999999,lsector,'');
			intencion.getLentidad(lestado.value, lmunicipio.value, lparroquia.value, lsector.value,lentidad);
		});
		lmunicipio.addEventListener("change",function(){
			main.getParroquia(this.value,lparroquia,'');
			main.getSelectSector(999999,lsector,'');
			intencion.getLentidad(lestado.value, lmunicipio.value, lparroquia.value, lsector.value,lentidad,'','');
			//intencion.getProductor(lentidad.value,lproductor);
		});
		lparroquia.addEventListener("change",function(){
			//console.log(lparroquia)
			//lsector.value = '';
			//lsector.dataset.twovalue = '';
			main.getSelectSector(this.value,lsector,'');
			intencion.getLentidad(lestado.value, lmunicipio.value, lparroquia.value, lsector.value,lentidad,'','');
			//intencion.getProductor(lentidad.value,lproductor);
		});
		lsector.addEventListener("change",function(){
			intencion.getLentidad(lestado.value, lmunicipio.value, lparroquia.value, lsector.value,lentidad,'','');
			//intencion.getProductor(lentidad.value,lproductor);
		});
		lentidad.addEventListener("change",function(){
			console.log("sss")
			intencion.getProductor(lentidad.value,lproductor);
		});

		//buscar intencion de siembra/////////////////////////////////////////
		js("#form-listado-intencion").addEventListener("submit",function(e){
			e.preventDefault();
			intencion.getIntencion();
		});

		//SCRIPT PARA NUEVA SECCION DE NUEVA INTENCION///////////////////

		//mostrar ventada de nueva intencion
		js("#listIntencionBox #newIntention").addEventListener("click",function(){
			js("#newIntencionBox").style.top = "0";
		});

		js("#newIntencionBox button#atras").addEventListener("click",function(){
			js("#newIntencionBox").style.top = "110%";
		});

		//cargar listado de entidades////////////////////////////////////////
		var entidades = JSON.parse(`<?php echo $JSONentidad; ?>`);
		if(typeof entidades == "object"){
			var arrEntidades=[];
			for(let i in entidades.data){
				arrEntidades.push([
					entidades.data[i].rif,
					entidades.data[i].razonsocial			
				]);
			}
			main.inputsearch(entidad,arrEntidades);
		}else{
			entidad.parentElement.setAttribute("style","display:none;")
			//entidad.setAttribute("disabled","disabled");
			entidad.dataset.twovalue=ssdata.entidad;
			intencion.getProductor(entidad.dataset.twovalue,productor);
		}

		//obtener productores
		entidad.addEventListener("blur",function(){
			let value = '';
			if(ssdata.nivel==='PRODUCTOR') value=ssdata.cirif;
			intencion.getProductor(this.dataset.twovalue,productor,value);
		});

		//obtener unidades de produccion
		productor.addEventListener("blur",function(){
			let value = '';
			if(ssdata.nivel==='PRODUCTOR') value=ssdata.cirif;
			intencion.getUNDproduccion(this.dataset.twovalue,undproduccion);
		});

		js("#fintencion").addEventListener("submit",function(e){
			e.preventDefault();
			intencion.newIntencion();
		});*/

		//- docintencion.value = '<?php echo $DOCintencion;?>';

		//- let f = new Date();
		//- let d = f.getDate();
		//- let m = f.getMonth()+1;
		//- let y = f.getFullYear();
		//- fechaintencion.value = `${y}-${m}-${d}`;
		//- let fechaactual = document.querySelector("#fechaactual");
		//- fechaactual.innerText = `Fecha: ${d}/${m}/${y}`;

		//- let intencion = new IntencionModule(
		//- ciclo,
		//- formbuscar,
		//- formintencion,
		//- docproductor,
		//- undproduccion,
		//- codfichapredial,
		//- tenencia,
		//- destenencia,
		//- rubros,
		//- haintencion,
		//- tecnico,
		//- );

		//- window.addEventListener("load",function(e){
		//- 	intencion.getMunicipios();
		//- 	intencion.getRubros();
		//- 	intencion.getIntencion();

		//- 	if(n !== 'PRODUCTOR'){
		//- 		intencion.getEntidad();
		//- 		intencion.getProductor();
		//- 	}
		//- })
		//- formbuscar.addEventListener("submit",function(e){
		//- 	e.preventDefault();
		//- 	intencion.getIntencion();
		//- });
		
		//- //botton mostrar detalle de tabla
		//- $(document).on("click","#options #mas",function(){
		//- 	let button = $(this);
		//- 	tr = button.parents("tr");
		//- 	let docint = tr.children("td").eq(1).text();
			
		//- 	$(`.detalletabla[data-intencion=${docint}]`).slideToggle("fast",function(){
		//- 		button.toggleClass("show");
		//- 	});
		//- 	//if(button.text()=='-') {button.text("+"); return};
		//- 	//button.text("-");
		//- });
		//- //fin de boton mostrar

		//- //boton agregar mas registros a intencion existente
		//- $(document).on("click", "#options #add",function(){
		//- 		let button = $(this);
		//- 		let docint = button.data("intencion");

		//- 		$("#new").animate({
		//- 			left:0
		//- 		});

		//- 		docintencion.value = docint;
		//- 		let spanDocintencion = document.querySelector("#nrointencion");
		//- 		spanDocintencion.innerText = "Intención Nº: " + docintencion.value
				
		//- 		let doc = ssdata.cirif;

		//- 		intencion.getNewProductor(doc);
				
		//- 		intencion.getNewRubros();
		//- 		intencion.getTecnico();
		//- 		let ent = ssdata.entidad || '%';
		//- 		if(n == "ADMINISTRADOR") intencion.getNewEntidad(ent);

		//- });

		//- //nuevo registro
		//- let newInt = document.querySelector("#nuevaintencion");
		
		//- newInt.addEventListener("click",function(){
		//- 	$("#new").animate({
		//- 		left:0
		//- 	});

		//- 	let spanDocintencion = document.querySelector("#nrointencion");
		//- 	spanDocintencion.innerText = "Intención Nº: " + docintencion.value
		//- 	let doc = ssdata.cirif;

		//- 	intencion.getNewProductor(doc);
			
		//- 	intencion.getNewRubros();
		//- 	intencion.getTecnico();
		//- 	let ent = ssdata.entidad || '%';
		//- 	if(n == "ADMINISTRADOR") intencion.getNewEntidad(ent);
		//- });

		//- let cancelNewInt = document.querySelector("#closeNewIntencion");
		//- cancelNewInt.addEventListener("click",function(){
		//- 	$("#new").animate({
		//- 		left:'100%'
		//- 	});

		//- 	docintencion.value = '<?php echo $DOCintencion;?>';

		//- })

		//- newentidad.addEventListener("change",function(){
		//- 	let desentidad = document.querySelector("#desentidad-desc");

		//- 	let i = this.selectedIndex;
		//- 	desentidad.value = this.options[i].innerText;
			
		//- });

		//- undproduccion.addEventListener("change",function(){
		//- 	let i = this.selectedIndex;


		//- 	propietario.innerText = '';
		//- 	if(this.value=='OTHER'){
		//- 		intencion.codfichapredial.value="";
		//- 		intencion.codfichapredial.attributes["data-nombreund"].value = "";
		//- 		intencion.tenencia.value="";

		//- 		$("#otraundproduccion").fadeIn("fast");
		//- 	}else{
		//- 		$("#otraundproduccion").fadeOut("fast");
		//- 		intencion.codfichapredial.value=this.value;
		//- 		intencion.codfichapredial.attributes["data-nombreund"].value = this.options[i].innerText;
		//- 		intencion.tenencia.value=this.options[i].dataset.tenencia;
		//- 	}
		//- });

		//- docproductor.addEventListener("blur",function(){
		//- 	intencion.getUNDproduccion(this.value);
		//- });

		//- codfichapredial.addEventListener("blur",function(){
		//- 	let f = new FormData();
		//- 	let url = '../controller/class.undproduccion.php';
		//- 	f.append("busqueda",this.value);
		//- 	f.append("method",1);

		//- 	let axios = pmain.axios('',url,f);
		//- 	axios.then(function(response){
		//- 		let resp = response.data;
		//- 		let estado = resp.estado;
		//- 		let descripcion = resp.descripcion;
		//- 		let datos = resp.data;

		//- 		let propietario = document.querySelector("#propietario");
		//- 		propietario.innerText = "";
		//- 		codfichapredial.dataset.nombreund = '';
		//- 		if(estado){
		//- 			codfichapredial.dataset.nombreund = datos[0].razonsocial;
		//- 			propietario.innerText = datos[0].razonsocial;
		//- 		}

		//- 	})
		//- })

		//- IMask(haintencion,{mask:EXPnumberDecimal});

		//- let bAdd = document.querySelector("#addList");
		//- bAdd.addEventListener("click",function(){
		//- 	intencion.addIntencion();
		//- });

		//- //let datosDetalle;
		//- let documento = $(document);
		//- var tr='';

		//- documento.on("click","#delete",function(){
		//- 	//$("#deleteIntencion")
		//- 	tr = $(this).parents("tr");
		//- 	$(".modal-title").text("Eliminar Intención de Siembra");
		//- 	$(".modal-body p").text("Si eliminas la intención de siembra no podras revertir los cambios ¿Estas seguro de continuar?");
		//- })

		//- let deleteIntencion = $("#aceptar");

		//- deleteIntencion.on("click",function(){
			
		//- 	let docintencion = tr.children('td').eq(0).text();
		//- 	let docproductor = tr.children('td').eq(3).text();
		//- 	let docrubro = tr.children('td').eq(4).text();
		//- 	let docfichapredial = tr.children('td').eq(5).text();

		//- 	intencion.deleteIntencion(
		//- 		docintencion,
		//- 		docproductor,
		//- 		docrubro,
		//- 		docfichapredial
		//- 	);
		//- });

		//- documento.on("click","#removeIntencion",function(){
		//- 	let padre = $(this).parents('.mTr');
		//- 	let index = padre.index();
		//- 	padre.remove()
		//- })


		//- let bGuardar = document.querySelector("#bguardar");
		//- bGuardar.addEventListener("click",function(){
		//- 	intencion.guardarIntencion();
		//- })


